	body {
		background-color: #31353D;
		font-family: "Open Sans", Helvetica;
		font-size: 10pt;
		color: #EEEFF7;
	}

	label {
		width: 175px;
		float: left;
		text-align: right;
		margin-right: 1em;
	}

	input {
		font-family: "Open Sans", Helvetica;
		font-size: 10pt;
	}

	input[type=text]{
		background-color: #1C1D21;
		color: #EEEFF7;
		vertical-align: middle;

		padding: 5px 5px;
		border: none;
		width: 30px;
	}

	table {
		border-spacing: 0;
		float: left;
	}
	td {
		background-color: #1C1D21;
		border-left: 1px solid #31353D;
		border-top: 1px solid #31353D;
		padding: 10px;
	}

	th {
		padding: 10px;
		background-color: #445878;
	}

	#holder {
		float: left;
		width: 500px;
		height: 550px;
	}
	svg {
	}

	footer {
		display: block;
		position: absolute;
		bottom: 10px;
		left: 10px;
	}